<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>公共评论区</title>
</head>
<body>
<h1>公共评论区域</h1>
<table style="width: 90%;background: #ccc;margin: 10px;border-collapse: collapse;">
    <tr><td>No.</td><td>用户名</td><td>评论内容</td><td>发布评论时间</td></tr>
    <tr th:each="user,memberStat:${resultList}">
        <td th:text="${memberStat.index + 1}"/>
        <td th:text="${user.username}"></td>
        <td th:text="${user.comments}"/>
        <td th:text="${user.commentsTime}"/>
    </tr>
</table>
<button style="width: 100px;height: 50px;font-size: 14px;" onclick="back();">返回上一级</button>
</body>
<script>
    function back(){
        window.location.href="/joys/user/back2IndividualPage";
    }
</script>
</html>